/*img{
	height:200px;
	width:200px;
}*/

.disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}


#com-img-back, #new-img-back, #rem-img-back, #rem-size,#rem-size-1,#interlaken,#belmar,#mary {
height: 250px;
width: 320px;
}

/*#new-img-back{
	height: 250px;
	width: 320px;
}

#rem-img-back{
	height: 250px;
	width: 320px;
}

#rem-size,#rem-size-1{
	height: 250px;
	width: 320px;
}


#interlaken,#belmar,#mary{
	height: 250px;
	width: 320px;
}
*/
.card-body:hover {
   /*background-color: lightblue;*/
    filter: alpha(opacity=100); /* For IE8 and earlier */
    opacity: .8;
    font-weight: bold;
}




#myModal2{
 /*position: absolute;*/
  left: 46%;
  top: 50%;
  overflow: none;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  overflow:hidden;
}
/*
#sizer{
	height:600px;
	width:600px;
}*/

label{
	font-size:18px;
}

.form-control{
	box-shadow: 2px 2px 2px black;
}



h4{
font-family: 'Alegreya SC', serif;
font-size: 24px;
}

h3,h1{
	font-family: 'Alegreya SC', serif;
}
.card-header{
	background-color: lightsteelblue;
}


#nav-bar-logo{
	margin-top: -20px;
}

#nav-bar-logo:hover {
color: gold;
}

p{
	font-family: 'Alegreya SC', serif;
	font-size: 24px;
	text-align: center;
 /*   text-indent: 50px;*/
}

a{
	color: grey;
}

@media only screen and (max-width: 975px) {

	#com-img-back, #new-img-back, #rem-img-back,#rem-size,#rem-size-1,#interlaken,#belmar,#mary{
	height: auto;
	width: auto;
	}

	#disapear{
	display: none;
	}
	p{
	font-size: 16px;
 /*   text-indent: 50px;*/
}


/*

#new-img-back{
	height: auto;
	width: auto;
}

#rem-img-back{
		height: auto;
	width: auto;
}

#rem-size,#rem-size-1{
	height: auto;
	width: auto;
}


#interlaken,#belmar,#mary{
	height: auto;
	width: auto;
}*/
#logo{
	margin-top: auto;
}


}